@page "/"

<PageTitle>Home</PageTitle>

<h1>Fargo Spa and Wellness</h1>
<p class="lead">Relax. Rejuvenate. Restore.</p>

<a class="btn btn-primary" href="services">View Services</a>
<a class="btn btn-secondary ms-2" href="book">Book Appointment</a>