@page "/login"
@using FargoSpaAppWellness.Models
<style>
    .padded {
        padding: 10px;
    }
</style>
<div class="padded">
    <h3>Login submit boxes go here</h3>
<NavLink href="register" Match="NavLinkMatch.All">Don't have an account? Register here.</NavLink>
</div>
