/* _content/FargoSpaAppWellness/Components/Layout/MainLayout.razor.rz.scp.css */
.layout-root[b-n8nzv03zz4] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-main[b-n8nzv03zz4] {
    flex: 1;
}
/* _content/FargoSpaAppWellness/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar[b-9vmqihsbv7] {
    height: 56px;
}

.navbar-nav[b-9vmqihsbv7] {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-item[b-9vmqihsbv7] {
    display: flex;
    height: 100%;
}

.nav-link[b-9vmqihsbv7] {
    display: inline-flex;
    align-items: center; /* vertically center text */
    justify-content: center; /* horizontally optional */
    height: 100%;
    padding: 0 1rem;
    line-height: normal !important; /* ignore baseline */
    white-space: nowrap;
}
