.navbar {
    height: 56px;
}

.navbar-nav {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-item {
    display: flex;
    height: 100%;
}

.nav-link {
    /*display: inline-flex; Commenting out to fix some formatting issues*/
    align-items: center; /* vertically center text */
    justify-content: center; /* horizontally optional */
    height: 100%;
    /*padding: 0 1rem; Commenting out to fix some formatting issues*/
    line-height: normal !important; /* ignore baseline */
    white-space: nowrap;
}
