.navbar[b-9vmqihsbv7] {
    height: 56px;
}

.navbar-nav[b-9vmqihsbv7] {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.nav-item[b-9vmqihsbv7] {
    display: flex;
    height: 100%;
}

.nav-link[b-9vmqihsbv7] {
    display: inline-flex;
    align-items: center; /* vertically center text */
    justify-content: center; /* horizontally optional */
    height: 100%;
    padding: 0 1rem;
    line-height: normal !important; /* ignore baseline */
    white-space: nowrap;
}
